name: neck_check
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  adaptive_platform_ui: ^0.1.100
  cupertino_icons: ^1.0.8
  fl_chart: ^1.1.1

  # Bloc 관련
  flutter_bloc: ^9.1.1
  bloc: ^9.1.0
  meta: ^1.16.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
